/* .card-img-top {
    height: 160pc !important;
    width: 250px !important;
    margin-bottom: 50px !important;
}

#Cardsborder:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
} */

/* .card {
    width: 190px;
    height: auto;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-left:20px ;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   

   .text-title {
    font-size: 0.7em;
    font-weight: bold;
    background-image: url('https://th.bing.com/th/id/OIP.7DWXljTMZ9WRrQA-nIJd_gHaHa?pid=ImgDet&rs=1');
   }
   
   
   .card:hover {
    border-color: #ff8d1e;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   } */

   .cardv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: auto;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(240, 93, 14, 0.2);
    transition: transform 0.3s ease-out;
  }
  
  .logov {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .titlev {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .contentv {
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }
  
  .cardv:hover {
    transform: translateY(-10px);
    
  }
  