
#Section2slide {
    /* height: 900px !important; */
    /* width: auto !important; */
    /* border: 1px solid black !important; */
    /* margin-bottom: 50px; */
  }

  #Subcards{
    /* height: 400px; */
    /* width: 300px; */
    /* border:  1px solid black; */
    margin-top: 50px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  }

  #Subcards:hover {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  }

  
#cardsm {
  height: 400px !important;
  margin: 50px !important;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

#box1{
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  */
}

#mainslide{
  /* height: 300px !important; */
}

.contact9{
  
  position: fixed;
  
  
}


