.pages-title h3{
    
    align-items: center;
    font-family: 'Shantell Sans', cursive;
    

}


.font{
    color: green;
   
    font-weight: 1000;
    text-align: center;
    font-size:50px;
}

.p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


.valueIcon1  {
    display: inline-block;
    background: url('./Component/Icons/valueIcon1.png') no-repeat 0 0;

    width: 33.333333%;
    
    min-width: 250px;
    vertical-align: top;
    margin: 0 -4px 30px 0;
    padding: 0 20px;
    font-size: 14px;
    color: #353535;
}


.values ul li:before {
    content: '';
    width: 70px;
    height: 70px;
    margin: auto;
    display: block;
}


.valueIcon2 {
    display: inline-block;
    width: 33.333333%;
    min-width: 250px;
    vertical-align: top;
    margin: 0 -4px 30px 0;
    padding: 0 20px;
    font-size: 14px;
    color: #353535;
}


.valueIcon3 {
    display: inline-block;
    width: 33.333333%;
    min-width: 250px;
    vertical-align: top;
    margin: 0 -4px 30px 0;
    padding: 0 20px;
    font-size: 14px;
    color: #353535;
}


.valueIcon4  {
    display: inline-block;
    width: 33.333333%;
    min-width: 250px;
    vertical-align: top;
    margin: 0 -4px 30px 0;
    padding: 0 20px;
    font-size: 14px;
    color: #353535;
}


.valueIcon5  {
    display: inline-block;
    width: 33.333333%;
    min-width: 250px;
    vertical-align: top;
    margin: 0 -4px 30px 0;
    padding: 0 20px;
    font-size: 14px;
    color: #353535;
}


.valueIcon6  {
    display: inline-block;
    width: 33.333333%;
    min-width: 250px;
    vertical-align: top;
    margin: 0 -4px 30px 0;
    padding: 0 20px;
    font-size: 14px;
    color: #353535;
}


.values ul li:before {
    content: './Icons/valueIcon1.png';
    width: 70px;
    height: 70px;
    margin: auto;
    display: block;
}

.AB{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.AB-text{
    position: absolute;
    width: auto;
    height: auto;
    left: 50px;
    top: 50%;
}

.desktop1920 {
    display: block;
}

.desktop1366 {
    display: none;
}

.AB-text h2{
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
    color: #feca27;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'CheddarJack';
    margin-top: -300px;
}

.AB-text h1{
    font-size: 35px;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: inherit;
    font-family: 'ITC Avant GardeStd Bold';
}

.clear {
    width: 100%;
    clear: both;
    line-height: 0!important;
    font-size: 0!important;
    height: 0!important;
}

.gap50 {
    width: 100%;
    
    display: block;
    float: left;
}

.clear {
    width: 100%;
    clear: both;
    line-height: 0!important;
    font-size: 0!important;
    height: 0!important;
}
.center-block1 {
    padding: 55px 0;
    text-align: center;
    font-family: cursive;
}

.center-block2 {
    padding: 55px 0;
    text-align: center;
    font-family: cursive;
}




.vision {
    text-align: center;
    /* background-image: url('../img/vision.jpg');  */
    background-size: cover;
    padding: 50px 5%;
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;

}

.vi{
    color:yellowgreen;
}



.mi{
    color: greenyellow;
}

/* .Mission h3 {
    color: #9fcd1a;
    font-weight: 400;
} */

.center-block1 p{
    text-align: center;
    color: #FFFFFF;
    
}

.center-block1 li{
    text-align: center;
    padding: 0%;
}

.av{
text-align: center;
}


.center-block2 h3{
    padding: 12px 0;
    text-align: center;
    font-family: Montserrat Medium;
    font-size: 35px;
}

/* Vission Page */


.ev3{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}




/* .item img{
    height: 50% !important;
    width:  50% !important;
} */

.location{
    text-shadow: black;
    background-color: aqua;
    height: 10%;
    padding: 15px;
    text-align: center;
    /* width: 50%; */
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;

}

.se2--header-se:not(.transparent)~main>[class^=se2--]:not(.se2--banner-full-image-carousel):not(.se2--navigation-customer-journey-with-cta) {
    margin-top: var(--component-block-indent);
}

.tabs1{
    padding: 15px;
    text-align: center;
    /* width: 50%; */
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    list-style: none;
    outline: none;
    padding-left: var(--tabs-inline-padding);
    --tabs-inline-padding: 130px;
    display: flex;
    white-space: nowrap;
}

.tabs1 a {
    color: var(--color-text-gray);
    display: block;
    margin: 2px;
    padding: 22px 14px;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

}
.yz {
    align-items: center;
    justify-content: center;
    margin: 0;
}

.row{
    
    justify-content: center;
}

