.buildtab {
    margin: 50px;
  }
  
  .block4 {
    margin-top: 8%;
    color: orange;
  }
  
  .block,
  .block1 {
    background-color: black;
    color: aliceblue;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 3% auto;
    padding: 15px;
  }
  
  .block1 {
    background-color: orange;
  }
  
  .block2,
  .block5 {
    margin: 2% 3%;
  }
  
  .paragrap {
    text-align: start;
    margin-top: 4%;
  }
  